<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <env name="KERNEL_CLASS" value="Flyimg\App\Kernel"/>
        <env name="HOSTNAME_URL" value=""/>
        <env name="APP_ENV" value="test" />
        <env name="APP_DEBUG" value="false" />
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Flyimg Legacy Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
        <testsuite name="Flyimg Functional Test Suite">
            <directory suffix=".php">./tests/Functional</directory>
        </testsuite>
    </testsuites>
</phpunit>
